fastapi
uvicorn 
pymongo 
redis 
neo4j 
pymilvus 
grpcio 
agentops 
pdfplumber 
pytesseract
python-multipart
pydantic_settings
python-dotenv
langchain
langchain_community
langchain_openai
setuptools==80.9.0
PyMuPDF
aiofiles